{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

<!--
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
-->
<header> <!-- New Header-->
  <div class="main-header-content inner">
      <h1 class="page-title">{{@blog.title}}</h1>
      <h2 class="page-description">{{@blog.description}}</h2>
  </div>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

<div class="container"> <!-- Main Body content for landing page -->
  <h2>About</h2>
  <hr>
    <div class="col-md-8"> <!-- Mission -->
            <p>The Faste Foundation is a 501(c)3 non-profit design organization. We support and inspire creative design through open community collaborations that foster personal integrity, leadership, and respect for others.
              <br>
              Our work has deep roots at the origins of human-centered design. We work with nonprofit partners and foundations to advance the social impact of design, technology, and design education. This mission definitely needs to be updated, but basically the content goes here.<p/>
    </div>
    <div class="col-md-4"> <!-- About -->
      <img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">
      <p><a href="url">Click here</a> to learn more about designer Rolf Faste (1943-2003).</p>
    </div>
  </div>


  <div class="container"> <!-- Projects -->
    <h2>Ongoing Projects</h2>
    <hr>
    <div class="col-md-4"> <!-- Project 01 -->
      {{#posts.[0]}}
      <article class="{{post_class}}">
      <header class="post-header">
          <h2><a href="{{url}}">{{title}}</a></h2>
      </header>
      <section class="post-excerpt">
           <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
       </section>
       <p><b><a href="{{url}}">Click here to learn more <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"> </span></a></b></p>
     </article>
     {{/posts.[0]}}
    </div>
    <div class="col-md-4"> <!-- Project 02 -->
      {{#posts.[1]}}
      <img src="{{image}}" class="img-responsive" alt="Responsive image" style="width:250px;height:250px;">
      <article class="{{post_class}}">
      <header class="post-header">
          <h2><a href="{{url}}">{{title}}</a></h2>
      </header>
      <section class="post-excerpt">
           <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
       </section>
       <p><b><a href="{{url}}">Click here to learn more <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"> </span></a></b></p>
     </article>
     {{/posts.[1]}}
    </div>
    <div class="col-md-4"> <!-- Project 03 -->
            {{#posts.[2]}}
            <article class="{{post_class}}">
            <header class="post-header">
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            <section class="post-excerpt">
                 <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
             </section>
             <p><b><a href="{{url}}">Click here to learn more <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"> </span></a></b></p>
           </article>
           {{/posts.[2]}}
    </div>
</div> <!-- /container -->
</main>
